*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 25%;
    margin-right: 25%;
}

#slogan{
    height:78px;
    width:100%;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 35%;
    background-repeat: repeat;
}

#slogan img{
    width: 15%;
    margin-top: 35px;
    margin-left: 10px;
}

#subtitle{
    color: #808088;
}

#subtitle #blue{
    color: #20a9e5;
}

#date{
    color: #808088;
    font-size: 0.7em;
}